.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #01f0fe;

}
.flex>h1{
  color: yellowgreen;
  text-transform: uppercase;
  font-size: larger;
}